<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <title>Geojit</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/images/GeojitIcon.ico"
    />
  </head>
  <body>
    <header class="header-container">
      <div class="container">
        <div class="header-flex">
          <img src="../assets/images/logo.png" alt="logo" />
          <div class="right-content">
            <img
              src="../assets/images/header-img.png"
              class="sip-img"
              alt="sip-club"
            />
          </div>
        </div>
      </div>
    </header>
    <div class="banner-content">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="banner-content-block">
              <h1 class="main-title">
                പണം മുടക്കില്ലാതെ ഒരു സംരംഭകനാകണോ? ഇന്നുതന്നെ ജിയോജിത്തിന്റെ
                പാർട്‌ണർ ആകൂ
              </h1>
              <div class="banner-img-block">
                <img src="../assets/images/banner.png" alt="banner" />
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="banner-form">
              <h3 class="bf-super-title">Geojit Partner Program</h3>
              <h1 class="bf-title">Register Today</h1>

              <div class="bf-form-block">
                <div class="form-control">
                  <label for="" class="form-label">Name</label>
                  <input type="text" class="custom-input" placeholder="Name" />
                </div>
                <div class="form-control">
                  <label for="" class="form-label">Email</label>
                  <input
                    type="text"
                    class="custom-input"
                    placeholder="Email Address"
                  />
                </div>
                <div class="form-control">
                  <label for="" class="form-label">Contact number</label>
                  <input
                    type="text"
                    class="custom-input"
                    placeholder="Contact number"
                  />
                </div>

                <div class="form-action-btn">
                  <button class="custom-btn">Continue</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- section-two -->
    <div class="geojit-partner-program">
      <div class="container">
        <h1 class="main-title">ജിയോജിത് പാർട്ണർ പ്രോഗ്രാം</h1>
        <div class="gpp-content">
          <div class="row">
            <div class="col-md-6">
              <p class="body-text">
                ഒട്ടും മുതൽമുടക്കില്ലാതെ ഒരു സംരംഭം ആരംഭിക്കുവാനും അതിലൂടെ
                മികച്ച വരുമാനം നേടാനും നിങ്ങൾ ആഗ്രഹിക്കുന്നുണ്ടോ?
              </p>
              <p class="body-text">
                എങ്കിൽ ഇതാ ജിയോജിത് നിങ്ങൾക്ക് അതിനായി അവസരമൊരുക്കിയിരിക്കുന്നു.
                ഇന്നുതന്നെ ജിയോജിത്തിൻ്റെ പാർട്‌ണർ ആകൂ, അതിലൂടെ ട്രേഡിങ്ങിൽ
                താൽപര്യമുള്ള നിങ്ങളുടെ പരിചയക്കാരെ ഞങ്ങൾക്ക് റഫർ ചെയ്യൂ. അവർ
                നടത്തുന്ന ഇടപാടുകളുടെ വരുമാനത്തിൻ്റെ 25% ഇൻസെന്റീവായി നേടൂ.
              </p>
              <p class="body-text">
                ഈ സംരംഭത്തിന് ആവശ്യമായ എല്ലാ പരിശീലനവും, ബ്രാൻഡിങ്ങ് സഹായങ്ങളും
                ജിയോജിത് നൽകുന്നതാണ്.
              </p>
            </div>
            <div class="col-md-6">
              <img
                src="../assets/images/geojit-pp.png"
                alt="geojit-pp-img"
                class="section-img"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- faq -->
    <section class="faq-section">
      <div class="container">
        <h1 class="section-title">FAQs</h1>
        <main>
          <div class="accordion">
            <div class="accordion-item">
              <div class="accordion-item-header">
                <img src="../assets/images/faq/faq1.svg" alt="faq" />
                <span class="accordion-item-header-title"
                  >ജിയോജിത്തിന്റെ പാർട്‌ണർ ആകാൻ ഞാൻ എന്താണ് <br />
                  ചെയ്യേണ്ടത്?</span
                >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-chevron-down accordion-item-header-icon"
                >
                  <path d="m6 9 6 6 6-6" />
                </svg>
              </div>
              <div class="accordion-item-description-wrapper">
                <div class="accordion-item-description">
                  <hr />
                  <p class="body-text">
                    ഒരു അക്കൗണ്ട് ആരംഭിച്ച് ജിയോജിത്തിൻ്റെ ഒരു ക്ലൈൻ്റ് ആവുകയാണ്
                    ആദ്യം ചെയ്യേണ്ടത്. അതിനുശേഷം നിങ്ങൾക്ക് അടുത്തുള്ള
                    ഏതെങ്കിലും ജിയോജിത് ശാഖ വഴിയോ www.partner.geojit.com എന്ന
                    വെബ് സൈറ്റിലൂടെയോ നേരിട്ട് പാർട്‌ണർ ആകാവുന്നതാണ്.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-item-header">
                <img src="../assets/images/faq/faq2.svg" alt="faq2" />
                <span class="accordion-item-header-title"
                  >റഫറൽ പാർട്‌ണർ ആകുന്നതിലൂടെ ലഭിക്കുന്ന നേട്ടങ്ങൾ <br />
                  എന്തെല്ലാമാണ്?</span
                >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-chevron-down accordion-item-header-icon"
                >
                  <path d="m6 9 6 6 6-6" />
                </svg>
              </div>
              <div class="accordion-item-description-wrapper">
                <div class="accordion-item-description">
                  <hr />
                  <p class="body-text">
                    നിങ്ങൾ റഫർചെയ്യുന്ന ആൾ ആരംഭിക്കുന്ന അക്കൗണ്ട് വഴി നടക്കുന്ന
                    ഇടപാടുകളുടെ വരുമാനത്തിൻ്റെ 25% നിങ്ങൾക്ക് നേരിട്ട്
                    ലഭിക്കുന്നു.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-item-header">
                <img src="../assets/images/faq/faq3.svg" alt="faq" />
                <span class="accordion-item-header-title"
                  >ഞാൻ വഴി വരുന്ന നിക്ഷേപകരിലൂടെ എനിക്ക് ലഭിക്കുന്ന
                  വരുമാനത്തിന്റെ വിവരങ്ങൾ എങ്ങനെ അറിയാൻ കഴിയും?</span
                >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-chevron-down accordion-item-header-icon"
                >
                  <path d="m6 9 6 6 6-6" />
                </svg>
              </div>
              <div class="accordion-item-description-wrapper">
                <div class="accordion-item-description">
                  <hr />
                  <p class="body-text">
                    വെബ്സൈറ്റിൽ നിങ്ങൾക്കായി ഒരുക്കിയ പേജിൽ ഈ വിവരങ്ങളെല്ലാം
                    വളരെ കൃത്യതയോടും സുതാര്യതയോടെയും അറിയാൻ കഴിയുന്നതാണ്.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-item-header">
                <img src="../assets/images/faq/faq4.svg" alt="faq" />
                <span class="accordion-item-header-title"
                  >എന്റെ നിക്ഷേപകരിലൂടെ ലഭിക്കുന്ന വരുമാനത്തിന്റെ പങ്ക് എനിക്ക്
                  എപ്പോഴാണ് ലഭിക്കുക?</span
                >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-chevron-down accordion-item-header-icon"
                >
                  <path d="m6 9 6 6 6-6" />
                </svg>
              </div>
              <div class="accordion-item-description-wrapper">
                <div class="accordion-item-description">
                  <hr />
                  <p class="body-text">
                    നിങ്ങളുടെ വിഹിതം എല്ലാ മാസവും അഞ്ചാം തീയതി നിങ്ങളുടെ ബാങ്ക്
                    അക്കൗണ്ടിൽ ക്രെഡിറ്റ് ആകുന്നതാണ്.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-item-header">
                <img src="../assets/images/faq/faq5.svg" alt="faq" />
                <span class="accordion-item-header-title"
                  >ലഭിക്കുന്ന വരുമാനത്തിന് പരിധി നിശ്ചയിച്ചിട്ടുണ്ടോ?</span
                >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-chevron-down accordion-item-header-icon"
                >
                  <path d="m6 9 6 6 6-6" />
                </svg>
              </div>
              <div class="accordion-item-description-wrapper">
                <div class="accordion-item-description">
                  <hr />
                  <p class="body-text">
                    ഇടപാടുകൾ നടക്കുന്നിടത്തോളം അതിൻ്റെ വിഹിതം നിങ്ങൾക്ക്
                    ലഭിക്കുന്നതാണ്. പരിധി നിശ്ചയിച്ചിട്ടില്ല.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </section>
    <!-- section-4  -->
    <div class="geojit-partner-program geojit-section">
      <div class="container">
        <h1 class="main-title">ജിയോജിത്</h1>
        <div class="gpp-content">
          <div class="row">
            <div class="col-md-6">
              <p class="body-text">
                ഇന്ത്യയിലെ പ്രമുഖ നിക്ഷേപ സേവന സ്‌ഥാപനമാണ് ജിയോജിത്. നിക്ഷേപ
                സേവനരംഗത്ത് ജിയോജിത്തിന് 37 വർഷത്തെ സേവനപാരമ്പര്യമുണ്ട്. നാഷണൽ
                റ്റോക്ക് എക്സ്‌ചേഞ്ച് (NSE), ബോംബെ ‌സ്റ്റോക്ക് എക്സ്ചേഞ്ച് (BSE)
                എന്നിവയിൽ ലിസ്റ്റ‌്ചെയ്യപ്പെട്ടിട്ടുള്ള ജിയോജിത്തിന്
                രാജ്യത്തുടനീളം 500 ൽ അധികം ശാഖകളും 13 ലക്ഷം ഉപഭോക്താക്കളുമുണ്ട്.
                BNP പാരിബ, ജിയോജിത് സ്‌ഥാപകനും മാനേജിംഗ് ഡയറക്ടറുമായ സി. ജെ.
                ജോർജ്ജ്, KSIDC കേരള സ്റ്റേറ്റ് ഇൻഡസ്ട്രിയൽ ഡവലപ്പ്മെൻ്റ്
                കോർപ്പറേഷൻ, രേഖ ജുൻജുൻവാല എന്നിവരാണ് കമ്പനിയുടെ പ്രധാന ഓഹരി
                ഉടമകൾ.
              </p>
            </div>
            <div class="col-md-6">
              <div class="section-bg-img">
                <img
                  src="../assets/images/geojit-sb.png"
                  alt="geojit-pp-img"
                  class="section-img"
                />
              </div>
            </div>
          </div>
          <div class="info-box">
            <p class="body-text">
              സംയുക്ത സംരംഭങ്ങളിലൂടെയും പങ്കാളിത്തത്തിലൂടെയും GCC രാജ്യങ്ങളിലും
              ജിയോജിത്തിന് ശക്തമായ സാന്നിധ്യമുണ്ട്. ബർജീൽ ജിയോജിത് ഫിനാൻഷ്യൽ
              സർവ്വീസസ് LLC യുമായി സംയുക്തമായി UAE, ബി.ബി.കെ ജിയോജിത്
              സെക്യൂരിറ്റീസ് കെ. എസ്. സിയുമായി സംയുക്തമായി കുവൈറ്റ്, ക്യുബിജി
              ജിയോജിത് സെക്യൂരിറ്റീസ് LLC യുമായി സംയുക്തമായി ഒമാൻ, ബാങ്ക് ഓഫ്
              ബഹ്റൈൻ
            </p>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer wow fadeIn">
      <div class="container">
        <img src="../assets/images/footer-logo.png" alt="footer-logo" />
        <div class="footer-info-block">
          <div class="row">
            <div class="col-md-3">
              <h2 class="footer-title">Registered Office</h2>
              <p class="footer-body-text mb-0">
                34/659, Civil Line Road, Padivattom, Kochi-682024, Kerala, India
              </p>
            </div>
            <div class="col-md-3">
              <h2 class="footer-title">Contact</h2>
              <p class="footer-body-text">Phone: +91 484-2901000</p>
              <p class="footer-body-text mb-0">www.geojit.com</p>
            </div>
            <div class="col-md-3">
              <h2 class="footer-title">For investor queries</h2>
              <p class="footer-body-text mb-0">customercare@geojit.com</p>
            </div>
          </div>
        </div>
        <div>
          <p class="footer-body-text fw-500 nt-40">Disclaimer</p>
          <p class="footer-body-text">
            Investment in securities market are subject to market risks, read
            all the related documents carefully before investing. Geojit
            Financial Services Limited does not make any representations or
            warranties about the insurance products, servicing of policy and
            adjudication of claims and cannot be held liable for the same. This
            mail contains only an indication of the insurance product. For more
            details on risk factors, terms, conditions and exclusions, please
            read the respective policy documents.
          </p>
          <p class="footer-body-text">
            GFSL is a licensed corporate agent with License No. CA0226 issued by
            IRDAI.
          </p>
        </div>
        <div>
          <p class="footer-body-text fw-500 nt-40">Disclosure</p>
          <p class="footer-body-text">
            These are not Exchange traded products and the Member is just acting
            as distributor. All disputes with respect to the distribution
            activity would not have access to Exchange investor redressal or
            Arbitration mechanism.
          </p>
        </div>
        <div class="footer-copright">
          <p class="copright-text">
            Geojit Financial Services Ltd, AMFI-registered Mutual Fund
            Distributor, ARN : 0098
          </p>
        </div>
        <p class="design-partner-text">Design by Neointeraction Design</p>
      </div>
    </footer>
    <!-- scripts -->
    <script
      type="text/javascript"
      src="../assets/js/vendor/jquery-1.12.4.min.js"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/vendor/wow.min.js"
    ></script>

    <script>
      var wow = new WOW({
        boxClass: "wow", // animated element css class (default is wow)
        animateClass: "animated", // animation css class (default is animated)
        offset: 0, // distance to the element when triggering the animation (default is 0)
        mobile: true, // trigger animations on mobile devices (default is true)
        live: true, // act on asynchronously loaded content (default is true)
        callback: function (box) {
          // Add a class called "animation-complete" when animation is complete
          box.classList.add("animation-complete");
        },
        scrollContainer: null, // optional scroll container selector, otherwise use window
      });
      wow.init();
    </script>
    <script>
      document.querySelectorAll(".accordion-item").forEach((item) => {
        item
          .querySelector(".accordion-item-header")
          .addEventListener("click", () => {
            item.classList.toggle("open");
          });
      });
    </script>
  </body>
</html>
